In [2]:
import pandas as pd

In [8]:
# 读取文件，并确保股票代码列是字符串类型
df = pd.read_excel("附件1操作数据(分析用).xlsx")
df

,序号,年龄,性别,籍贯,民族,身高,体重,文化程度,婚姻状况,家庭人均月收入,...,ASD再体验,ASD回避,ASD警觉,ASD总分,ASD性质,心理韧性,BMI计算,遗传史,PCL总分,PCL性质
0,A1,23,1,2,2,174,72,3,1,1,...,5,4,5,19,0,10,23.781213,1,0,0
1,A2,21,1,5,1,170,79,2,1,4,...,10,8,10,38,1,20,27.335640,1,20,0
2,A3,23,1,4,1,170,65,1,1,2,...,5,4,5,19,0,10,22.491349,1,0,0
3,A4,32,1,4,1,175,68,2,2,1,...,10,8,11,39,1,30,22.204082,1,16,0
4,A5,23,1,5,1,170,60,1,1,1,...,5,4,5,19,0,50,20.761246,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,A899,21,1,5,1,178,89,1,1,2,...,8,4,7,31,0,50,28.089888,1,1,0
899,A900,36,1,2,1,175,70,1,2,2,...,5,4,5,19,0,40,22.857143,1,0,0
900,A901,25,1,5,1,175,69,1,1,3,...,7,7,9,28,0,48,22.530612,1,1,0
901,A902,30,1,1,1,176,75,1,2,4,...,8,8,7,30,0,49,24.212293,1,0,0
902,A903,26,1,6,1,162,60,1,1,4,...,5,4,5,19,0,50,22.862369,1,0,0

In [10]:
df.describe()

,年龄,性别,籍贯,民族,身高,体重,文化程度,婚姻状况,家庭人均月收入,近期是否出现意外事件,...,ASD再体验,ASD回避,ASD警觉,ASD总分,ASD性质,心理韧性,BMI计算,遗传史,PCL总分,PCL性质
count,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,...,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000,903.000000
mean,24.205980,1.013289,3.994463,1.071982,174.186047,71.107420,1.590255,1.170543,2.260244,1.033223,...,5.566999,4.528239,5.776301,21.560354,0.035437,39.476190,23.436172,1.003322,1.395349,0.005537
std,3.928926,0.114573,1.640322,0.258602,5.360067,12.739875,0.781149,0.387922,1.041193,0.179317,...,1.763040,1.599969,1.905417,6.465709,0.184985,14.791127,4.162734,0.057575,5.320323,0.074247
min,15.000000,1.000000,1.000000,1.000000,158.000000,40.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,4.000000,5.000000,19.000000,0.000000,10.000000,12.624669,1.000000,0.000000,0.000000
25%,22.000000,1.000000,2.000000,1.000000,170.000000,64.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,4.000000,5.000000,19.000000,0.000000,36.000000,21.258503,1.000000,0.000000,0.000000
50%,23.000000,1.000000,4.000000,1.000000,175.000000,69.000000,1.000000,1.000000,2.000000,1.000000,...,5.000000,4.000000,5.000000,19.000000,0.000000,48.000000,22.720438,1.000000,0.000000,0.000000
75%,26.000000,1.000000,5.000000,1.000000,178.000000,75.000000,2.000000,1.000000,3.000000,1.000000,...,5.000000,4.000000,6.000000,21.000000,0.000000,50.000000,24.322362,1.000000,0.000000,0.000000
max,56.000000,2.000000,7.000000,2.000000,200.000000,130.000000,3.000000,3.000000,4.000000,2.000000,...,25.000000,20.000000,25.000000,91.000000,1.000000,50.000000,45.351474,2.000000,72.000000,1.000000